<div class="container">
    <div class="row ">
    <div class="col-md-9 text-center">
      <app-git-form (getName)='searchRepos($event)'></app-git-form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-11">
      <div >
        <div class="table">
          <table class="table">
            <tbody>
             <tr *ngFor=" let repository of githubService.searchRepo" >
              <td>
                <h4>
                  <a style="text-align: center" href="{{repository.repo_url}} " >{{repository.name}}</a>
                </h4>
                <p >
                  <a href="{{repository.repo_url}}">Check out on Github</a>
                </p>
                <p>Date Created : {{repository.created_at|date}}</p>
                <p>Description : {{repository.description}}</p>
                <li appHighlight >Clone at:{{repository.clone_url</li>
              </td>
            </tr>
            </tbody>
          </table>
          <hr>
        </div>
      </div>
    </div>

  </div>
</div>

